In [10]:
import pandas as pd

In [11]:
player = ['Player1', 'Player2', 'Player3']
score = [2, 5 ,3]
title = ['Game1', 'Game2', 'Game3']
df1 = pd.DataFrame({'Player':player, 'Score':score, 'Title':title})

In [12]:
df1

    Player  Score  Title
0  Player1      2  Game1
1  Player2      5  Game2
2  Player3      3  Game3

In [13]:
player = ['Player1', 'Player5', 'Player7']
power = ['Punch', 'Kick', 'Elblow']
title = ['Game1', 'Game5', 'Game6']

In [14]:
df2 = pd.DataFrame({'Player':player, 'Power':power, 'Title': title})

In [15]:
df2

    Player   Power  Title
0  Player1   Punch  Game1
1  Player5    Kick  Game5
2  Player7  Elblow  Game6

In [21]:
df1.merge(df2, on='Player', how='inner')

    Player  Score Title_x  Power Title_y
0  Player1      2   Game1  Punch   Game1

In [24]:
df1.merge(df2, on='Player', how='outer')

    Player  Score Title_x   Power Title_y
0  Player1    2.0   Game1   Punch   Game1
1  Player2    5.0   Game2     NaN     NaN
2  Player3    3.0   Game3     NaN     NaN
3  Player5    NaN     NaN    Kick   Game5
4  Player7    NaN     NaN  Elblow   Game6

In [ ]:
#Join operation in Panda

In [68]:
player = ['Player1', 'Player2', 'Player3']
score = [2, 5 ,3]
title = ['Game1', 'Game2', 'Game3']
df3 = pd.DataFrame({'Player':player, 'Score':score, 'Title':title})

In [69]:
df3 = pd.DataFrame({'Player':player, 'Score':score, 'Title': title}, index= ['L1', 'L2', 'L3'])

In [70]:
df3

     Player  Score  Title
L1  Player1      2  Game1
L2  Player2      5  Game2
L3  Player3      3  Game3

In [71]:
player = ['Player1', 'Player5', 'Player7']
power = ['Punch', 'Kick', 'Elblow']
title = ['Game1', 'Game5', 'Game6']

In [72]:
df4 = pd.DataFrame({'Players':player, 'Power':power, 'Titles': title}, index= ['L2', 'L3', 'L4'])

In [73]:
df4

    Players   Power Titles
L2  Player1   Punch  Game1
L3  Player5    Kick  Game5
L4  Player7  Elblow  Game6

In [77]:
df3.join(df4, how='inner')

     Player  Score  Title  Players  Power Titles
L2  Player2      5  Game2  Player1  Punch  Game1
L3  Player3      3  Game3  Player5   Kick  Game5